<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/core.css' />
    <link href="https://fonts.googleapis.com/css?family=Krub:200|Roboto:300" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <% include layout.ejs %>
    <div class="core-content">
      <img src="/images/bg6.jpg" class="bg-pic-blurred">
      <h1 class="core-h1"><%= title  %></h1>
      <h2 class="core-h2">
      <%= author.first_name %>
        <%= author.family_name %>
        <p class="core-p">Birth: <%= author.date_of_birth_formatted %> </p>
        <p class="core-p">Death: <%= author.date_of_death_formatted %><p>
          </h2>
    
  
        <% author_books.forEach((item) => {
        %>
          
          <h3 class="core-h3"> <a class="core-a" href=<%= item.url %> >
          <%=item.title %> 
          </a></h3>
          <p class="core-p"> <%= item.summary %> </p>
          
        <%
      }) %>
      <div class="core-row">
      <a class="core-btn-a" href=<%=author.url + '/delete' %> ><button class="core-btn-delete"> Delete this author </button></a>
        <a class="core-btn-a" href=<%=author.url + '/update' %> ><button class="core-btn-update"> Update this author </button></a>
      </div>
    </div>
  </body>
</html>
