<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/core.css' />
    <link href="https://fonts.googleapis.com/css?family=Krub:200|Roboto:300" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
      
      <% include layout.ejs %>
      <div class="core-content">
        <img class="bg-pic-blurred" src="/images/bg3.jpg">
        <h2 class="core-h2"><%= title  %></h1>
        <ul>
    
          <% author.forEach((item) => {
          %>
            <li class="core-li core-li-spaced">
              <h3><a href=<%= item.url %> class="core-a" >
            <%= item.family_name %> 
            </a> </h3>
            <p>Date of Birth: <%= item.date_of_birth_formatted %> </p>
            <p>Date of Death: <%= item.date_of_death_formatted %> </p>
            </li>
          <%
        }) %>
        </ul>
      </div>
  </body>
</html>
